<h1>Cadastre-se</h1>
<form action="/cadastro" method="GET">
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" required><br><br>

  <label for="endereco">Endereço:</label>
  <input type="endereco" id="endereco" name="endereco" required><br><br>

  <button type="submit">Cadastrar</button>
</form>