<h1>Página inicial</h1>

{{#if usuarios}}
<table border="1">
<tr>
<th> Nome:
</th>
  <th>
   Endereço: 
  </th>
</tr>
  {{#each usuarios}}
  <tr>
   <td>{{this.nome}}</td>
   <td>{{this.endereco}} </td> 
  </tr>
  {{/each}}
</table>
{{else}}
<p> Não há usuários cadastrados</p>
{{/if}}
